@mixin font-yekan {
  @font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: normal;
    src: url('../src/assets/fonts/yekan-bakh-regular.ttf?z9anp3') format('truetype');
  }
  @font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 500;
    src: url('../src/assets/fonts/yekan-bakh-medium.ttf?z9anp3') format('truetype');
  }

  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: Bold;
    src: url('../src/assets/fonts/yekan-bakh-bold.ttf?z9anp3') format('truetype');
  }
}